.saving-section{
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column; 
    align-items: center;    
}

.saving-container{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.saving-container h3{
    margin-top:  1rem;
    font-family: "roboto";
    letter-spacing: 1px;
}

.summary{
    font-family: "poppins";
}

@media screen and (max-width:900px){
    .saving-section{
        width: 60%;
    }
} 

@media screen and (max-width:768px){
    .saving-section{
        width: 70%;
    }
} 


@media screen and (max-width:580px){
    .saving-section{
        width: 80%;
    }
} 


@media screen and (max-width:500px){
    .saving-section{
        width: 90%;
    }
} 