.navbar-section{
    background-color: #0C0C1D;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    justify-content: center;
    align-items: center;
}

.title{
    font-family: "roboto", "Helvetica Neue";
    background: linear-gradient(to right, #30CFD0 0%, #330867 100% );
    background-clip: text;
    color: transparent;

}

.navbar{
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
   
}

.navbar a{
    font-size: 1.1rem;
    font-family: "poppins";
    font-weight: 500;
}