table{
    width: 90%;
    height: auto;
    border: 2px solid lightgray;
    border-radius: 5px;
}

thead tr{
    font-size: 1.2rem;
    font-family: "Poppins";
    font-weight: 500;
    background-color: cadetblue;
}


thead tr td{
    padding-left: 20px;
    margin: 0 auto;
}

tbody tr td{
    font-family: "poppins";
    padding-left: 20px;
}

tbody tr:nth-child(even){
    background-color: lightgray;
}


@media screen and (max-width:1024px){
    thead tr{
        font-size: 1rem;
    }
    tbody tr td{
        font-size: 0.8rem;
        padding-left: 20px;
    }
    
}

@media screen and (max-width:660px){
    thead tr{
        font-size: 0.9rem;
    }
    tbody tr td{
        font-size: 0.7rem;
        padding-left: 10px;
    }
}
@media screen and (max-width:400px){
    thead tr{
        font-size: 0.7rem;
    }
    thead tr td{
        padding-right: 5px;
        
    }
}