.expensebreak{
    border: 1px solid lightgray;
    margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
}
.breakdown{
    display: flex;
    gap: 10px;
    margin: 5px;
}
.breakdown > p{
    font-family: "poppins";
    font-size: 1rem;
}

.breakdown > p:last-child{
    font-weight: 600;
}