.filter-section{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
    font-family: roboto;
}


.filters{
    width: 80%;
    display: flex; 
    justify-content: center;
    gap: 1em;
}


.filters span{
    font-weight: 500;
}

.filter-group{
    display: flex;
    gap: 5px;
}
.filter-group span{
    font-weight: 500;
    margin-right: 10px;
}


@media screen and (max-width:768px) {
    .filter-sort{
        font-size: 0.8rem;
    }

    .filter-group >label{
        font-size: 0.8rem;
    }
    .filter-group  > input{
        font-size: 0.8rem;
    }
    .filter-group span{
        font-size: 0.9rem;
    }
}